body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    background-position: center;
   
}

/* Header */
#header {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Sabit pozisyon */
    top: 0; /* Sayfanın üstünde */
    left: 0;
    width: 100%;
    z-index: 1000; /* Diğer içeriklerin üzerinde */
    transition: top 0.3s ease; /* Geçiş efekti */
}

.header-hidden {
    top: -100px; /* Sayfanın dışına çıkacak */
}

/* Diğer stiller devam eder */


.menu-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    height: 30px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color:black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #666;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 200px;
}

.search-input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
}

.search-container:hover .search-input,
.search-input:focus {
    width: 150px;
    opacity: 1;
}

.search-button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: #9b51e0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #666;
}


.upload-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 120px;
}

.upload-input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
}

.upload-container:hover .upload-input {
    width: 150px;
    opacity: 1;
}

.upload-button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    background-color:#9b51e0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #666;
}

.profile {
    position: absolute;
    top: 1px;
    right: 45px;
}

.profile img {
    height: 30px;
    border-radius: 50%;
}

/* Main */
main {
    padding: 20px;
}

h2 {
    margin-top: 80px;
}

.category-section {
    margin-bottom: 20px;
}
.slider {
    position: relative;
    overflow: hidden; /* İçeriğin taşmasını engelle */
}

.productions-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory; /* Yatay kaydırma yaparken hedeflere otomatik olarak yakalama */
    overflow-x: auto; /* Yatay kaydırmayı etkinleştir */
    -ms-overflow-style: none; /* Internet Explorer için kaydırma çubuğunu gizle */
    scrollbar-width: none; /* Firefox için kaydırma çubuğunu gizle */
}

.productions-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari için kaydırma çubuğunu gizle */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    z-index: 1; /* Diğer içeriklerin üzerinde olmasını sağlar */
    transition: opacity 0.3s ease; /* Opaklık geçişi */
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    opacity: 0.8; /* Üzerine gelindiğinde biraz opaklık */
}

.prev[style*="hidden"],
.next[style*="hidden"] {
    display: none; /* Kaydırma sınırına ulaşıldığında gizle */
}


.production-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 sütunlu bir grid */
    gap: 20px; /* Kartlar arasındaki boşluk */
}
.productions-container {
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 10px;
}

.production-card {
    flex: 0 0 auto; /* Kartların boyutunu otomatik olarak ayarlamak için */
    border: 1px solid #ccc;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    height: auto; /* Kartın yüksekliğini otomatik olarak ayarlayın */
    margin-right: 10px; /* Kartlar arasında boşluk bırakın */
    width: 300px; /* Kartın genişliğini ayarlayın */
    height: 200px;
    position: relative;
    transition: transform 0.2s;
    overflow: hidden;
    border-radius: 10px;
    scroll-snap-align: center;
}

.production-card:hover {
    transform: scale(1.05);
}

.production-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px; /* Açıklamanın altındaki boşluk */
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; /* Küçültüldü */
    height: 60px; /* Küçültüldü */
    background-color: transparent;
    border: 3px solid transparent; /* Kenarlık ilk başta görünmeyecek */
    border-radius: 50%; /* Yuvarlak şekil vermek için */
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s; /* Geçiş efektleri */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden; 
    opacity: 0; 
}

.play-button::before {
    content: '\25B6'; 
    font-size: 30px; 
    color: #fff; 
}

.production-card:hover .play-button { 
    opacity: 1;
    border-color: #9b51e0; 
    transform: translate(-50%, -50%) scale(1.1);
}


.info-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    z-index: 2; /* Blurun arkasında */
}

.production-card:hover .info-button {
    display: block;
}

.production-card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

button.prev, button.next {
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    font-size: 24px;
    padding: 16px;
    border-radius: 50%;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: white;
}

.footer-socials {
    margin: 10px 0;
}

.footer-socials a {
    margin: 0 10px;
    display: inline-block;
}

.footer-socials img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
}

.footer-socials img:hover {
    opacity: 0.7;
}

footer p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #aaa;
}

/* Contact Form Feedback */
#form-feedback {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}
/* Contact Form */
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(213, 10, 10, 0.1);
}

.contact-form label {
    color:#000;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {    
    text-decoration: black;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button[type="submit"]:hover {
    background-color: #555;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

.bg-img{
  background: url('img/bg.jpg');
  height: 97vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #2691d9;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.instagram{
  background: #E1306C;
  border: 1px solid #df2060;
}
.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}

.profile {
    position: relative;
    display: inline-block;
}

.profile-card {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px 20px;
    background: #191e25;
    width: 200px;
    box-sizing: 0 5px 25px rgb(255, 0, 0);
    border-radius: 15px;
    transition: 0.5s;
    opacity: 1;
    z-index: 1;
}

.profile-card ul li {
    border-bottom: 1px solid #191e25;
}

.profile-card ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.profile-card ul li a:hover {
    background-color: #191e25;
}
.production-details {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.production-details img {
    max-width: 300px;
    margin-right: 20px;
}

.details {
    flex: 1;
}


#episodes {
    margin-top: 20px;
}

.episode {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
/* Stil dosyası (style.css) */

/* Sezonların listesi */
.seasons {
    margin-top: 20px;
}

.seasons h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.seasons-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.seasons-list li {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out;
}

.seasons-list li:hover {
    border-color: #999;
}

.seasons-list li img {
    width: 100%;
    height: auto;
    display: block;
}

.seasons-list li span {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
    font-weight: bold;
}

i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .signup{
    font-size: 15px;
    color: white;
    font-family: 'Poppins',sans-serif;
  }
  .signup a{
    color: #3498db;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
  
  .profile {
      position: relative;
      display: inline-block;
      cursor: pointer;
  }
  
  .profile-card {
      display: none;
      position: absolute;
      top: 50px;
      right: 10px;
      padding: 10px 20px;
      background: #191e25;
      height: 200px;
      width: 200px;
      box-sizing: 0 5px 25px rgb(255, 0, 0);
      border-radius: 15px;
      transition: 0.5s;
      opacity: 1;
      z-index: 1;
  }
  .profile-card h4{
    margin-top: 12px; 
    text-align: center;
      color: #8400ff;
  }
  
  .profile-card ul {
    border-radius:  #000;
    margin-top: 5px; 
    list-style: none;
     padding: 0;
      margin: 0;
  }
  
  .profile-card ul li {
      border-bottom: 1px solid #be6f6f;
  }
  
  .profile-card ul li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: rgb(255, 255, 255);
  }
  
  .profile-card ul li a:hover {
      background-color: #f0f0f0;
  }
  
  .modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
  }
  
  .modal-content {
      background-color: #191e25;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 500px;
      border-radius: 10px;
      position: relative;
  }
  
  .modal p{
      color: #ffeeee;
  }
  .modal h2{
   margin-top: 5px;
    text-align: center;  
    color: #ffeeee;
  }
  .modal label{
      color: #ffeeee;
  }
  
  .modal button{
      width: 30%;
      height: 60px;
      margin: 10px auto;
      justify-content: center;
      display: block;
      color: #fff;
      background: #573b8a;
      font-size: 1em;
      font-weight: bold;
      margin-top: 20px;
      outline: none;
      border: none;
      border-radius: 20px;
      transition: 0.2s ease-in;
      cursor: pointer;
  }
  .modal button:hover{
      background: #6d44b8;
  }
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  .edit-icon {
      margin-left: 10px;
      cursor: pointer;
      width: 3%;
  }

  





  .admin-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-forms {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.admin-form {
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    min-width: 300px;
    background-color: #f9f9f9;
}

.admin-form label,
.admin-form input,
.admin-form select,
.admin-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.admin-form input,
.admin-form select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.admin-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.admin-form button:hover {
    background-color: #555;
}

#adm_img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 10px;
}